h2 {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: bold;
    font-size: 2.5em;
    margin-top: 2em;
    color: #3E54AC;
}

input[type="submit"] {
    border-width: 0;
    background-color: #674188;
    padding: 0.6em 2em
}

input[type="search"] {
    display: inline;
    height: 2.7em;
}

input[type="file"] {
    background-color: #fff;
    color: #674188;
    display: inline;
    height: 1.6em;
}

input[type=file]::file-selector-button {
    height: 1.5em;
    border-width: 0;
    background-color: #C3ACD0;
    color: #3E54AC;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr;
}

.single-image {
    margin-top: 3em;
    width: 50em;
    object-fit: scale-down;
}

.image {
    object-fit: scale-down;
}

.upload-form, .search-form, .image-container, .header-container {
    margin: 0 auto;
    text-align: center;
    justify-content: center
}

.images-container {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.images-container img {
    height: 250px;
    width: 350px;
    transform: scale(1.0);
    transition: transform 0.4s ease;
}

.caption {
    position: absolute;
    bottom: 5px;
    left: 20px;
    opacity: 0.0;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.transparent-box {
    height: 250px;
    width: 350px;
    background-color:rgba(0, 0, 0, 0);
    position: absolute;
    top: 0;
    left: 0;
    transition: background-color 0.3s ease;
}

.img-box {
    box-sizing: content-box;
    margin: 10px;
    height: 250px;
    width: 350px;
    overflow: hidden;
    display: inline-block;
    color: white;
    position: relative;
    background-color: white;
}

.img-box:hover img {
    transform: scale(1.1);
}

.img-box:hover .transparent-box {
    background-color:rgba(0, 0, 0, 0.5);
}

.img-box:hover .caption {
    transform: translateY(-20px);
    opacity: 1.0;
}

.img-box:hover {
    cursor: pointer;
}

.caption > p:nth-child(2) {
    font-size: 0.8em;
}

.opacity-low {
    opacity: 0.5;
}

.notify {
    --notify-error: #eb5757;
    --notify-success: #6fcf97;
    --notify-warning: #f2c94c;
    --notify-gray: #333333;
    --notify-gray-2: #4d4d4d;
    --notify-gray-3: #828282;
    --notify-white: #fff;
    --notify-white-2: rgba(255, 255, 255, 0.8);
    --notify-padding: 0.75rem;
    --notify-icon-size: 32px;
    --notify-close-icon-size: 16px;
}